@import "./reset.css";
@import "./header/header.css";
@import "./category-section/category.css";
@import "./main-section/main.css";
@import "./main-section/side-menu.css";
@import "./main-section/start.css";
@import "./login/login.css";
@import "./account/account.css";
@import "./cart/cart.css";
