.cart-container {
  background-color: #c5c5c5;
  overflow-y: auto;
}
.cart-products li {
  background-color: #999999;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-products p,
.cart-products input {
  font-size: 30px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #c5c5c5;
}

.cart-image {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 150px;
  position: relative;
}

.cart-image img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
