.main-section {
  /* display: grid;
  grid-template-columns: 1fr 4fr; */
  height: 90vh;
}

.main-section-products {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.side-menu {
  background: #10151b;
}

.main-content {
  color: black;
  background: #ececec;
}

.main-content-info {
  /* height: 50px; */
}
