.main-section {
  /* display: grid;
  grid-template-columns: 1fr 4fr; */
  height: 90vh;
}

.main-section-products {
  display: grid;
  grid-template-columns: 170px auto;
}

.side-menu {
  background: #10151b;
}

.main-content {
  color: black;
  /* background: #ececec; */
  background-color: #c5c5c5;
  /* background-image: linear-gradient(180deg, #0e678f, #e4a16d); */

  position: relative;
}

.main-content-info {
  /* height: 50px; */
}

.product-modal {
  display: none;
  /* background-color: #555555; */
  /* background-color: #fff; */
  background-image: linear-gradient(180deg, #0e678f, #e4a16d);

  z-index: 20;
  position: fixed;
  /* position: relative; */
  height: 50%;
  width: 60%;
  top: 50%;
  left: 59%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.modal-content > div {
  margin: 5px;
}

.modal-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  height: 100%;
  width: 100%;
}

.image-modal {
  position: relative;
}
.image-modal img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 10px;
}

.modal-title h3 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #e4a16d;
}

.modal-title p {
  line-height: 1.5;
  font-weight: 500;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.modal-title p::first-line {
  padding-left: 20px;
  margin-left: 20px;
}

.modal-about {
  display: grid;
  align-items: center;
}

.modal-about p {
  display: flex;
  padding: 4px 4px;
  width: 85px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #0e678f;
}

.modal-about img {
  height: 32px;
  width: 32px;
}

.modal-about div {
  font-weight: 500;
  display: flex;
  justify-content: space-around;
}

.modal-about,
.modal-carting {
  color: #fff;
}

.modal-carting {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modal-carting input,
.modal-carting button,
.modal-carting p {
  font-size: 20px;
  font-weight: 500;
  /* height: 40px; */
  padding: 8px 4px;
  border-radius: 20px;
  background-color: #0e678f;
  color: #fff;
}

.modal-carting input {
  width: auto;
  text-align: center;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.openModal {
  display: block;
}
